<div class="row">
  <div class="col-xs-2" id="sidebar-wrapper">
    <div class="text-center jumbotron well">Product Listing Application</div>

    <button type="button" class="btn btn-success" id="new-product-button" data-toggle="modal" data-target="#newProductModal">New Product</button>
    <div id="product-listing">
      <% @products.each do |product| %>
          <!--<tr>-->
          <!--<td><%= product.name %></td>-->
          <!--<td><%= product.description %></td>-->
          <!--<td><%= product.price %></td>-->
          <!--<td><%= link_to 'Show', product %></td>-->
          <!--<td><%= link_to 'Edit', edit_product_path(product) %></td>-->
          <!--<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          <!--</tr>-->
          <div class="product-item" data-id="<%= product.id %>">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object"> <%= image_tag "placeholder.png", size: "60x50" %>
                </a>
              </div>
              <div class="media-body">
                <div class="product-name"><%= product.name %></div>
                <div class="product-price">$<%= product.price %></div>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <br>
  </div>
  <div class="col-xs-10" id="page-content-wrapper">

  </div>
</div>

<div class="modal fade" id="newProductModal" tabindex="-1" role="dialog" aria-labelledby="newProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Product</h4>
      </div>
      <div class="modal-body">
        <!--Error messages-->
        <div class="errors-alert" role="alert" id="new-product-errors"></div>
        <form>
          <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" id="product-name">

          </div>
          <div class="form-group">
            <label class="control-label">Price</label>
            <input type="text" class="form-control" id="product-price">
          </div>
          <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" id="product-description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-new-product-button">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Product</h4>
      </div>
      <div class="modal-body">
        <!--Error messages-->
        <div class="errors-alert" role="alert" id="edit-product-errors"></div>
        <form>
          <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" id="product-name">

          </div>
          <div class="form-group">
            <label class="control-label">Price</label>
            <input type="text" class="form-control" id="product-price">
          </div>
          <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" id="product-description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="edit-existing-product-button">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="hidden" id="item-template">
  <div class="product-item">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object"> <%= image_tag "placeholder.png", size: "60x50" %>
        </a>
      </div>
      <div class="media-body">
        <div class="product-name"></div>
        <div class="product-price"></div>
      </div>
    </div>
  </div>
</div>

<div class="hidden" id="content-template">
  <div class="product-content">
    <h1 class="product-name"></h1>
    <h3 class="product-price">$0.00</h3>
    <div class="product-description well">desc</div>
    <div>
      <button class="btn btn-default edit-product-button">Edit</button>
      <button class="btn btn-danger delete-product-button">Delete</button>
    </div>
  </div>
</div>